{% extends "layout.html" %}
{% block body %}

    <h1>Lista de utilizadores</h1>
    <table>
        <tr>
            <th>Foto</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Estado</th>
            <th>Perfil</th>
            <th colspan="3"></th>
        </tr>
        {% for registo in registos %}
        <tr>
            <td><img src='/static/imagens/{{ registo["nome"] }}' width="200px"/></td>
            <td>{{ registo["nome"] }}</td>
            <td>{{ registo["email"] }}</td>
            <td>{{ registo["estado"] }}</td>
            <td>{{ registo["perfil"] }}</td>
            <td>
                <form method="post" action="/utilizador/apagar">
                    <input type="hidden" name="id" value="{{ registo['id'] }}">
                    <input type="submit" class="btn btn-info" value="Apagar">
                </form>
            </td>
            <td>
                <form method="post" action="/utilizador/editar">
                    <input type="hidden" name="id" value="{{ registo['id'] }}">
                    <input type="submit" class="btn btn-info" value="Editar">
                </form>
            </td>
            <td>
                <form method="post" action="/utilizador/enviar_email">
                    <input type="hidden" name="email" value="{{ registo['email'] }}">
                    <input type="submit" class="btn btn-danger" value="Enviar email">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    {{ mensagem }}

{% endblock %}